*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    border-radius : 8px;
    background-color: #fff;
    padding: 20px;
    border: 5px;
    margin: auto;
    width: 300px;
}
form h2{
    text-align: center
}
form input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}
form button{
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 100%;
    height: 50px;
}
form button:hover{
    background-color: #45a049;
}
